@charset "utf-8";
/*本页面单独控制*/
body{
    max-width: 1600px;
    min-width: 1266px;
}
.lolo-main{
    background-color: #fff;
    margin:50px 30px 20px 30px;
    clear:both;
}
/*caseImg*/

.lolo-main .case{
    margin-bottom: 40px;
}
.lolo-main .case .case-title{
    text-align: center;
}
.lolo-main .case .case-content{
    width:1200px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.lolo-main .case .case-content .item{
    text-align: center;
    /*background: aqua;*/
    /*margin:25px;*/
    height:500px;
    width:600px;
    float: left;
}

.lolo-main .case .case-content .item img{
    width: 500px;
    /*height:100%;*/
    cursor: pointer;
}

/*.lolo-main .case .case-content .item img:hover{
    !*border: 2px solid #ccc;*!

    box-shadow: 0 0 10px 3px #bbbbbb;
}*/

/**team等整个图片模块的样式**/
.lolo-main .team{
    margin: auto;
    /*padding: 50px 0;*/
}
.lolo-main .team img{
    width:100%;
}
/******************************菜单部分************************************/
/*菜单按钮*/
.menu-btn{
    position: fixed;
    top:25px;
    right:25px;
}
.menu-btn i{
    font-size: 20px;
    cursor: pointer;
}

/*蒙层*/
.menu-cover{
    display: none;
    background: #000;
    filter: alpha(opacity=90);
    opacity: 0.9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #bbb;
    overflow: auto;
}


/*菜单标题部分 .logo和关闭按钮*/
.menu-cover .menu-title{
    height: 80px;
    line-height: 80px;
    clear: both;
    margin: 0 30px;
}
.menu-cover .menu-title .logo{
    float: left;
    margin-top: 25px;
}
.menu-cover .menu-title .close-btn{
    float: right;
}

.menu-cover .menu-title .close-btn i{
    cursor: pointer;
    color: #bbb;
    font-size:36px;
}
.menu-cover .menu-title .close-btn i:hover{
    color: #fff;
}

/*菜单内容部分*/
.menu-cover .menu-content{
    margin-top:80px;
}
.menu-cover .menu-content .menu-item{
    position: relative;
    cursor: pointer;
    margin:70px 0;
}
.menu-cover .menu-content .menu-item a:hover{color:#fff;}
.menu-cover .menu-content .menu-item a{
    text-decoration: none;
    color: #bbbbbb;
}
.menu-cover .menu-content .menu-item .line{
    /*margin-top:40px;*/
    height:2px;
    background-color: #bbb;
}
.menu-cover .menu-content .menu-item .word{
    width: 200px;
    position: relative;
    top:-16px;
    background: #000;
    margin:auto;
    text-align: center;
    padding-left: 5px;
}
.menu-cover .menu-content .menu-item .word .title{
    letter-spacing: 2px;
    font-size: 25px;
}
.menu-cover .menu-content .menu-item .word .sub-title{
    font-size: 12px;
    letter-spacing: 1px;
    color:#aaa
}

/*子项目的框架*/
.sub-iframe{
    /*filter: alpha(opacity=90);*/
    /*opacity: 0.9;*/
    background: #fff;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
}
