@charset "utf-8";
.main{
    height: 0;
}
.main .return{
    position: fixed;
    top:0;
    right: 20px;
    height:60px;
    line-height:60px;
    z-index:3;
}

.main .return i{
    cursor: pointer;
    font-size: 28px;
    color: #555;
    display: inline-block;
}

i:hover{
    color:#202020
}

.sub-case-main{
    width:100%;
    height: 100%;
    overflow: auto;
}

.sub-case-main .scroll-btn{
    z-index:2;
    position: absolute;
    top:0;
    width:100%;
    height: 60px;
    line-height:60px;
    text-align: center;
    color: #555;
}
.sub-case-main .scroll-btn i{
    cursor: pointer;
}
.sub-case-main .scroll-btn i.left{
    position: relative;
    margin-right:15px;
}

.sub-case-main .scroll-img{
    position: relative;
    text-align: center;
    height:400px;
    margin:160px auto 75px auto
}
.sub-case-main .scroll-img .scroll-img-content{
    position: relative;
    width:1200px;
    height:400px;
    margin:auto;
    /*background: olivedrab;*/

    /*top: -webkit-calc(50% - 200px);*/
    /*left: -webkit-calc(50% - 600px);*/
    overflow: hidden;

}

.sub-case-main .scroll-img .scroll-img-content .scroll-img-long{
    position: absolute;
    left:0;
    width:1200px;
    height: 100%;
    /*background: aqua;*/
}


.sub-case-main .scroll-img .scroll-img-content .scroll-img-long .img-item{
    float: left;
    width:266px;
    height:356px;
    cursor: pointer;
    margin:0 15px;
    background-color: #ccc;
    background-repeat:no-repeat;
    background-size:270px 360px;
    border: 2px solid #eee;
}

.sub-case-main .scroll-img .scroll-img-content .scroll-img-long .img-item .cover{
    width: 270px;
    height:210px;
    background-color: #000;
    color: #eeeeee;
    filter: alpha(opacity=80);
    opacity: 0.8;
    padding-top:150px;
    display: none;
}

.scroll-img-long .img-item .cover .title{
    font-size: 18px;
}
.scroll-img-long .img-item .cover .more-btn{
    width: 80px;
    border: 1px solid #bbb;
    border-radius: 10px;
    height:25px;
    line-height:25px;
    margin:80px auto 0 auto;
    cursor: pointer;
    font-size:12px;
}
.scroll-img-long .img-item .cover .slogan{
    margin: 30px auto 0 auto;
    width: 140px;
}




/*slogan*/
.sub-case-main .slogan-img{
    z-index:2;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
}
.sub-case-main .slogan-img img{
    height: 140px;
}

/*蒙层*/
.case-cover{
     display: none;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 2;
     color: #bbb;
     overflow: auto;
    filter: alpha(opacity=100);
    opacity: 1;
    background: #1a1a1a;
    cursor: pointer;
 }

.case-cover .close-btn{
    position: fixed;
    top:0;
    right:15px;
    height: 50px;
    line-height:50px;
}

.case-cover  .close-btn i{
    color: #bbb;
    font-size:30px;
}
.case-cover .close-btn i:hover{
    color: #fff;
}

.case-cover .content{
    margin:30px auto;
    width:60%;
    min-width:1200px;
    text-align: center;
}
.case-cover .content img{
    max-width:100%;
    display:none;
}